{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section class="pt-4 pt-md-11">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Change Dictionary Order</h1>
      </div>
      <form method='POST' , action="{{ url_for('changeDictionaryOrder') }}">
        <div class='list-group'>
          <div class="list-group-item">
            <label for="order1" class="form-label">1st Order</label>
            <select id="order1" name="order1" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1" selected>Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order2" class="form-label">2nd Order</label>
            <select id="order2" name="order2" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2" selected>Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order3" class="form-label">3rd Order</label>
            <select id="order3" name="order3" class="form-select" aria-label="Default select example">
              <option disabled>Pleae open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3" selected>Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order4" class="form-label">4th Order</label>
            <select id="order4" name="order4" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4" selected>The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order5" class="form-label">5th Order</label>
            <select id="order5" name="order5" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5" selected>Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order6" class="form-label">6th Order</label>
            <select id="order6" name="order6" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6" selected>Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order7" class="form-label">7th order</label>
            <select id="order7" name="order7" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7" selected>Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order8" class="form-label">8th order</label>
            <select id="order8" name="order8" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8" selected>Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order9" class="form-label">9th order</label>
            <select id="order9" name="order9" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9" selected>WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order10" class="form-label">10th order</label>
            <select id="order10" name="order10" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10" selected>Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order11" class="form-label">11th order</label>
            <select id="order11" name="order11" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11" selected>Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order12" class="form-label">12th order</label>
            <select id="order12" name="order12" class="form-select" aria-label="Default select example">
              <option disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12" selected>Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order13" class="form-label">13th order</label>
            <select id="order13" name="order13" class="form-select" aria-label="Default select example">
              <option value="0" disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13" selected>Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order14" class="form-label">14th order</label>
            <select id="order14" name="order14" class="form-select" aria-label="Default select example">
              <option value="0" disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14" selected>Google Images</option>
              <option value="15">YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order15" class="form-label">15th order</label>
            <select id="order15" name="order15" class="form-select" aria-label="Default select example">
              <option value="0" disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15" selected>YouTube</option>
              <option value="16">Visuwords</option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="order16" class="form-label">16th order</label>
            <select id="order16" name="order16" class="form-select" aria-label="Default select example">
              <option value="0" disabled>Please open this select menu</option>
              <option value="1">Merriam Webster's Learner's Dictionary</option>
              <option value="2">Merriam Webster Dictionary</option>
              <option value="3">Oxford English Dictionary</option>
              <option value="4">The Free Dictionary</option>
              <option value="5">Your Dictionary</option>
              <option value="6">Urban Dictionary</option>
              <option value="7">Etymonline.com</option>
              <option value="8">Wordnik</option>
              <option value="9">WordNet</option>
              <option value="10">Synonym.com</option>
              <option value="11">Wikipedia</option>
              <option value="12">Wiktionary</option>
              <option value="13">Google News</option>
              <option value="14">Google Images</option>
              <option value="15">YouTube</option>
              <option value="16" selected>Visuwords</option>
            </select>
          </div>
        </div>
        <br />
        <div class="text-center">
          <button type="submit" class="btn btn-outline-secondary btn-sm">Update</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}