{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center gx-0 min-vh-100">
      <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
        <!-- Heading -->
        <h1 class="mb-0 fw-bold text-center">Sign up</h1>

        <!-- Text -->
        <p class="mb-6 text-center text-muted">Use The ALL Dictionary</p>

        <!-- Form -->
        <form class="mb-6" method="post" , action="{{ url_for('signupadmin') }}">
          <!--User ID-->
          <div class="form-group">
            <label class="form-label" for="id"> User ID </label>
            <input type="userID" class="form-control" name="userID" id="userID" placeholder="Enter your userID" />
          </div>

          <!-- Password -->
          <div class="form-group mb-5">
            <label class="form-label" for="password"> Password </label>
            <input type="password" class="form-control" name="password" id="password"
              placeholder="Enter your password" />
          </div>

          <!-- Confirm Password -->
          <div class="form-group mb-5">
            <label class="form-label" for="confirmpassword"> Confirm password </label>
            <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
              placeholder="Confirm your password" />
          </div>

          <!-- Name -->
          <div class="form-group mb-5">
            <label class="form-label" for="name"> Full name </label>
            <input type="name" class="form-control" name="name" id="name" placeholder="Enter your name" />
          </div>

          <!-- Nick Name -->
          <div class="form-group mb-5">
            <label class="form-label" for="nickName"> Nickname </label>
            <input type="nickname" class="form-control" name="nickname" id="nickname"
              placeholder="Enter your nickname" />
          </div>

          <!-- Email -->
          <div class="form-group mb-5">
            <label class="form-label" for="email"> Email Address </label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email address" />
          </div>

          <!-- phone number -->
          <div class="form-group mb-5">
            <label class="form-label" for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber"
              placeholder="Enter your phone number" />
          </div>

          <div class="form-group mb-5">
            <label class="form-label" for="jobTitle"> Job Title </label>
            <input type="jobTitle" class="form-control" name="jobTitle" id="jobTitle"
              placeholder="Enter your jobTitle" />
          </div>

          <!-- Submit -->
          <button class="btn w-100 btn-primary" type="submit">Sign up</button>
        </form>

        <!-- Text -->
        <p class="mb-0 fs-sm text-center text-muted">
          Already have an account? <a href="{{ url_for('signin') }}">Log in</a>.
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
{%endblock%}