{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <br>
  <br>
  <h1>Begin the challenge!</h1>
  <br>
  <h3>Challenge name: {{title}}</h3>
  <br>
  <h4>You can view the ranking for "{{ title }}" <a href="{{ url_for('game_pages.textRank', title = title) }}">here</a>.</h4>
  <br>
  <h5>
    Note: The textbox will automatically resized as you type the text.
    <br>
    Copying and pasting is automatically disabled by the system.
    <br>
    Once you type the equal or more number of characters (with spaces), the game will be automatically stopped.
  </h5>
  <br>
  <br>
</div>
<div class="container">
  <div class="list-group">
    <div class="list-group-item">
      <!-- contenteditable="true" -->
      <div style="width: 45%; float:left">
        <h4><strong><u>Write the following:</u></strong></h4>
        <br>
        <h4 id="challengeText">{{ challengeText[0] }}</h4>
        <hr>
        <h5>Characters (with spaces):
          <span class="challengeCharacterCount" name="challengeCharacterCount" id="challengeCharacterCount">0</span>
        </h5>
      </div>
      <div style="width: 45%; float:right">
        <h4><strong><u>Write the text here:</u></strong></h4>
        <br>
        <!-- Copying and pasting is disabled-->
        <textarea class="form-control" id="textarea" name="textarea" type="text" rows="5"
          placeholder="Enter the text here" onselectstart="return false" onPaste="return false" onCopy="return false"
          onCut="return false" onDrag="return false" onDrop="return false">
            </textarea>
        <br>
        <h5>Characters (with spaces):
          <span class="currentCharacterCount" name="currentCharacterCount" id="currentCharacterCount"></span>
        </h5>
        <h5 id="stopwatchDisplay"><strong>Time taken (seconds): <span id="timeTaken"></span> seconds</strong></h5>
        <h5><strong>Characters per minute: <span class="currentCPM" name="currentCPM" id="currentCPM">0</span></strong>
        </h5>
        <h5><strong>Accuracy: <span class="currentAccuracy" name="currentAccuracy"
              id="currentAccuracy">0</span></strong></h5>
        <form method='POST' action="{{ url_for('game_pages.startTextTyping', title = title) }}">
          <h5 id="gameStatus" name="gameStatus"></h5>
          <h5 name="aboutScore" id="aboutScore"><strong>Current score:
              <span class="currentScore" name="currentScore" id="currentScore"></span></strong>
          </h5>
          <h5 id="gameLevel" name="gameLevel"></h5>
          <div class="form-group">
            <button type="button" class="btn btn-outline-danger btn-xs" id="start"
              onclick="beginTextTyping()">Start</button>
            <button type="button" style='float:right; margin:5px;' class="btn btn-outline-danger btn-xs" id="restart"
              name="restart" onclick="window.location.reload()">Restart</button>
            <button type="submit" style='float:right; margin:5px;' class="btn btn-xs btn-outline-primary"
              id="scoreSubmit" name="scoreSubmit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<br />

<div class="container text-center">
  <div class="list-group">
    <div class="list-group-item">
      <h3><u>Levels for each score</u></h3>
      <br>
      <span style="color: #eb4841"> Beginner: 0 - 150 </span>
      <br>
      <span style="color: #FF7F50"> Novice: 151 - 300 </span>
      <br>
      <span style="color: #DD9B00"> Intermediate: 301 - 400 </span>
      <br>
      <span style="color: #98af07"> Fast: 401 - 500 </span>
      <br>
      <span style="color: #4cc35c"> Professional: 501 - 600 </span>
      <br>
      <span style="color: #20C0B0"> Expert: 601 - 700 </span>
      <br>
      <span style="color: #6495ED"> Master: 701 - 800 </span>
      <br>
      <span style="color: #6363B0"> Grand Master: 801 - 900 </span>
      <br>
      <span style="color: #AA62B0"> Enlightened: 901 or above </span>
      <br>
      <br>
      <p>(score* = characters per minute x accuracy)</p>
      <p>Your accuracy is calculated based on Dice coefficient algorithm.</p>
    </div>
  </div>
</div>

<!-- JAVASCRIPT -->
<script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/startTextTyping.js') }}"></script>
{%endblock%}