{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <br />
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Text typing challenge ranking</h1>
            <br>
            <h2>Challenge name: {{title}}</h2>
            <br>
            <h4>The ranking is based on your highest score.</h4>
            <br>
            <h5>You can delete your result from <a href="{{ url_for('resetTextRank', title = title) }}">here</a>.</h5>
            <br>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item">
            <ol>
                {% if textRankingTable == () %}
                <li>
                    Nobody has participated yet.
                </li>
                {% else %}
                {% for textRankingData in textRankingTable %}
                <li>
                    <p>
                        {% if textRankingData[3] != None %}
                    <div class="avatar avatar-xl">
                        <img class="avatar-img rounded-circle" src="{{ textRankingData[3] }}" alt="..." />
                    </div>
                    {% else %}
                    <div class="avatar avatar-xl">
                        <img class="avatar-img rounded-circle" src="https://i.stack.imgur.com/34AD2.jpg" alt="..." />
                    </div>
                    {% endif %}
                    <!-- Heading -->

                    {{ textRankingData[2] }}
                    <span class="small text-truncate text-gray-700">{{ textRankingData[0] }}</span>

                    {% if textRankingData[1] > 900 %}
                    <span style="color: #AA62B0; float: right">Level: Enlightened <br>Highest score: {{
                        textRankingData[1] }}</span>
                    {% elif textRankingData[1] > 800 %}
                    <span style="color: #6363B0; float: right">Level: Grand Master <br>Highest score: {{
                        textRankingData[1] }}</span>
                    {% elif textRankingData[1] > 700 %}
                    <span style="color: #6495ED; float: right">Level: Master <br>Highest score: {{ textRankingData[1]
                        }}</span>
                    {% elif textRankingData[1] > 600 %}
                    <span style="color: #20C0B0; float: right">Level: Expert <br>Highest score: {{ textRankingData[1]
                        }}</span>
                    {% elif textRankingData[1] > 500 %}
                    <span style="color: #4cc35c; float: right">Level: Professional <br>Highest score: {{
                        textRankingData[1] }}</span>
                    {% elif textRankingData[1] > 400 %}
                    <span style="color: #98af07; float: right">Level: Fast <br>Highest score: {{ textRankingData[1]
                        }}</span>
                    {% elif textRankingData[1] > 300 %}
                    <span style="color: #DD9B00; float: right">Level: Intermediate <br>Highest score: {{
                        textRankingData[1] }}</span>
                    {% elif textRankingData[1] > 150 %}
                    <span style="color: #FF7F50; float: right">Level: Novice <br>Highest score: {{ textRankingData[1]
                        }}</span>
                    {% else %}
                    <span style="color: #eb4841; float: right">Level: Beginner <br>Highest score: {{ textRankingData[1]
                        }}</span>
                    {% endif %}
                    </p>
                </li>
                {% endfor %}
                {% endif %}
            </ol>
        </div>
    </div>
    <br>
    <div class="control" style="text-align: center">
        <a href="{{ url_for('startTextTyping', title = title) }}">
            <input class="btn btn-primary" type="button" value="Go back" />
        </a>
    </div>
</div>
{%endblock%}