{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section class="pt-4 pt-md-1">
  <div class="container">
    <br />
    <div class="row text-center">
      <div class="col-md-12">
        <br>
        <h1>View my text typing challenge</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row" style="margin-left: 2px">
      <div class="list-group">
        <div class="list-group-item" aria-current="true" draggable="true" id="literary">
          <h2>My literary text typing challenges</h2>
          <br>
          <ol>
            {% if myLiteratureTable == () %}
            <li>
              You have not created any literary text typing challenge yet.
            </li>
            {% else %}
            {% for myLiteratureData in myLiteratureTable %}
            <li>
              <form method="post" , action="{{ url_for('game_pages.viewTextChallenge') }}">
                <a href="{{ url_for('game_pages.viewChallengeText', title = myLiteratureData[0]) }}">
                  Title: {{ myLiteratureData[0] }} (type: {{ myLiteratureData[1] }})
                </a>
                <button type="submit" class="btn btn-outline-danger btn-xs" style="float: right"
                  value="{{ myLiteratureData[0] }}" name="deleteTextChallenge" id="deleteTextChallenge">
                  <span class="fe fe-trash-2"></span>
                </button>
              </form>
            </li>
            <br>
            {% endfor %}
            {% endif %}
          </ol>
        </div>
        <div class="list-group-item" aria-current="true" draggable="true" id="speech">
          <h2>My speech script typing challenges</h2>
          <br>
          <ol>
            {% if mySpeechTable == () %}
            <li>
              You have not created any speech script typing challenge yet.
            </li>
            {% else %}
            {% for mySpeechData in mySpeechTable %}
            <li>
              <form method="post" , action="{{ url_for('game_pages.viewTextChallenge') }}">
                <a href="{{ url_for('game_pages.viewChallengeText', title = mySpeechData[0]) }}">
                  Title: {{ mySpeechData[0] }} (type: {{ mySpeechData[1] }})
                </a>
                <button type="submit" class="btn btn-outline-danger btn-xs" style="float: right"
                  value="{{ mySpeechData[0] }}" name="deleteTextChallenge" id="deleteTextChallenge">
                  <span class="fe fe-trash-2"></span>
                </button>
              </form>
            </li>
            <br>
            {% endfor %}
            {% endif %}
          </ol>
        </div>
        <div class="list-group-item" aria-current="true" draggable="true" id="law">
          <h2>My law typing challenges</h2>
          <br>
          <ol>
            {% if myLawTable == () %}
            <li>
              You have not created any law typing challenge yet.
            </li>
            {% else %}
            {% for myLawData in myLawTable %}
            <li>
              <form method="post" , action="{{ url_for('game_pages.viewTextChallenge') }}">
                <a href="{{ url_for('game_pages.viewChallengeText', title = myLawData[0]) }}">
                  Title: {{ myLawData[0] }} (type: {{ myLawData[1] }})
                </a>
                <button type="submit" class="btn btn-outline-danger btn-xs" style="float: right"
                  value="{{ myLawData[0] }}" name="deleteTextChallenge" id="deleteTextChallenge">
                  <span class="fe fe-trash-2"></span>
                </button>
              </form>
            </li>
            <br>
            {% endfor %}
            {% endif %}
          </ol>
        </div>
        <div class="list-group-item" aria-current="true" draggable="true" id="article">
          <h2>My article typing challenges</h2>
          <br>
          <ol>
            {% if myArticleTable == () %}
            <li>
              You have not created any article typing challenge yet.
            </li>
            {% else %}
            {% for myArticleData in myArticleTable %}
            <li>
              <form method="post" , action="{{ url_for('game_pages.viewTextChallenge') }}">
                <a href="{{ url_for('game_pages.viewChallengeText', title = myArticleData[0]) }}">
                  Title: {{ myArticleData[0] }} (type: {{ myArticleData[1] }})
                </a>
                <button type="submit" class="btn btn-outline-danger btn-xs" style="float: right"
                  value="{{ myArticleData[0] }}" name="deleteTextChallenge" id="deleteTextChallenge">
                  <span class="fe fe-trash-2"></span>
                </button>
              </form>
            </li>
            <br>
            {% endfor %}
            {% endif %}
          </ol>
        </div>
        <div class="list-group-item" aria-current="true" draggable="true" id="essays">
          <h2>My essay typing challenges</h2>
          <br>
          <ol>
            {% if myEssayTable == () %}
            <li>
              You have not created any essay typing challenge yet.
            </li>
            {% else %}
            {% for myEssayData in myEssayTable %}
            <li>
              <form method="post" , action="{{ url_for('game_pages.viewTextChallenge') }}">
                <a href="{{ url_for('game_pages.viewChallengeText', title = myEssayData[0]) }}">
                  Title: {{ myEssayData[0] }} (type: {{ myEssayData[1] }})
                </a>
                <button type="submit" class="btn btn-outline-danger btn-xs" style="float: right"
                  value="{{ myEssayData[0] }}" name="deleteTextChallenge" id="deleteTextChallenge">
                  <span class="fe fe-trash-2"></span>
                </button>
              </form>
            </li>
            <br>
            {% endfor %}
            {% endif %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Draggable -->
<script src="{{ url_for('static', filename='assets/js/makeDraggable.js') }}"></script>
{%endblock%}